<ng-container *ngIf="followers$ | async as followers">
  <h1 class="title">Followers</h1>
  <section class="container">
    <mat-card
      *ngFor="let follower of followers"
      class="mat-card"
      appearance="outlined"
    >
      <mat-card-header>
        <mat-card-title>{{ follower.login }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="mat-list-item">
            <img mat-list-avatar [src]="follower.avatar_url" />
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
